<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
</head>
<body>
	{{> header}}


	<h4>{{mess}}</h4>
	{{scremIt 'You are now in about'}}
	<p>{{desc}}</p><hr>
	<a href="/">Home Page</a>

	{{> footer}}
</body>
</html>