<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	{{> header}}


	<h4>{{mess}}</h4>
	<h4>{{scremIt 'You are in Home!!!'}}</h4>
	<p>{{desc}}</p><hr>
	<a href="/about">About Page</a>


	{{> footer}}
</body>
</html>